body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight-enter {
  transform: scale(1);
}

.highlight-enter-active {
    transform: scale(1.3);
    border: 3px solid #FF6584;
    transition: all 5s ease;
    z-index: 1;
    box-shadow: "3px 3px 3px rgba(0, 0, 0, 0.5)";
}

.highlight-exit {
    transform: scale(1.3);
    border: 3px solid #FF6584;
    z-index: 1;
}

.highlight-exit-active {
  opacity: 0.01;
  transform: scale(1);
  transition: all 5000ms;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
    border-radius: 5pt;
    height: 5px;
    top: -5px;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #6165ff;
    border-radius: 5pt;
}

.text-below-marker {
  min-width: 100px;
  left: -50px;
  text-align: center;
  min-height: 1.2em;
  color: "#FF6584"
}
